<div class="flex flex-col w-full h-full p-5 bg-amber-50 text-black">
    <h2 class="font-hanson text-black font-bold text-4xl text-center mt-5">Tickets</h2>
    <div class="flex flex-col w-full h-full overflow-y-auto mt-10">
        <hr class="w-full bg-black rounded-xs h-0.5">
        @if (tickets().length == 0) {
            <p class="text-center text-xl font-lexend mt-5">No tickets yet.</p>
        }
        @for (ticket of tickets(); track $index) {
            <div class="flex flex-col text-[14px] uppercase ml-4 text-black my-5">
                <h5 class="font-bold">{{ticket.package.number_of_sessions}} Sessions</h5>
                <div class="flex ml-3.5">
                    <ul>
                        <div class="relative flex items-center">
                            <div class="absolute left-0 top-0 h-full w-0.5 bg-black"></div>
                            <div class="border w-2.5 h-0.5 border-black mr-1"></div>
                            <li class="uppercase">{{ticket.package.number_of_sessions- ticket.used_sessions}} Sessions left</li>
                        </div>
                        <div class="relative flex items-center">
                            <div class="absolute left-0 top-0 h-full w-0.5 bg-black" ></div>
                            <div class="border w-2.5 h-0.5 border-black mr-1"></div>
                            <li class="uppercase">Expiration: {{ticket.expiration_date.toDateString()}}</li>
                        </div>
                        <div class="relative flex items-center">
                            <div class="absolute left-0 top-0 h-1/2 w-0.5 bg-black" ></div>
                            <div class="border w-2.5 h-0.5 border-black mr-1"></div>
                            <li class="uppercase">Ordered At: {{ticket.created_at.toDateString()}}</li>
                        </div>
                    </ul>
                </div>
            </div>
            <hr class="w-full bg-black rounded-xs h-0.5">
        }
    </div>
    <a [routerLink]="['', {outlets:{primary: 'packages', sidebar: null}}]" class="mt-5">
        <button class="font-eurostile font-bold text-white text-xl rounded-full bg-black uppercase py-2 w-full cursor-pointer">Get Tickets</button>
    </a>
    <a [routerLink]="['', {outlets:{sidebar: 'account'}}]" class="mt-5">
        <button class="font-eurostile font-bold text-white text-xl rounded-full bg-black uppercase py-2 w-full cursor-pointer">Back</button>
    </a>
</div>