<div class="min-h-screen h-fit pt-35 bg-linear-to-t from-dark-violet to-black">
    <div class="justify-center items-center">
        <h1 class="mt-3 text-center text-white font-hanson text-4xl"> <span class="text-gold"> Coaches </span></h1>
        <p class="mt-5 text-center text-white font-light font-lexend text-base"> Meet the passionate mentors who turn every step into confidence and artistry.  </p>
    </div>
    @for (coach of coaches(); track coach.id) {
        @if ($index % 2 == 0) {
            <div class="flex h-fit py-10 flex-col lg:flex-row">
                <div class="w-full lg:w-1/2 relative flex">
                    <img src="/images/coach_page/coaches_background.png" alt="design" class="absolute bottom-0 w-4/5 z-0 lg:block hidden">
                    <img src="{{coach.bio_picture}}" alt="Kervin Mendiola" class="w-1/2 lg:h-9/10 lg:w-auto mt-auto z-10 lg:ml-15 ml-auto mr-auto">
                </div>
                <div class="flex flex-col w-full lg:w-1/2 lg:px-0 px-5 lg:mt-0 mt-10">
                    <div class="content mr-auto my-auto w-full lg:w-4/5 lg:text-left text-center">
                        <h3 class="text-gold font-hanson text-3xl font-bold">{{coach.name}}</h3>
                        <h4 class="text-amber-50 font-hanson text-xl font-bold mt-10">{{coach.lessons?.join(', ')}}</h4>
                        <p class="font-open-sans text-white text-base mt-5">{{coach.bio}}</p>
                        <p class="font-hanson text-white text-xl font-bold mt-5">{{coach.motto}}</p>
                    </div>
                </div>
            </div>
        }@else {
            <div class="flex h-fit py-10 flex-col-reverse lg:flex-row">
                <div class="flex flex-col w-full lg:w-1/2 lg:px-0 px-5 lg:mt-0 mt-10">
                    <div class="content ml-auto my-auto w-full lg:w-4/5 lg:text-left text-center">
                        <h3 class="text-gold font-hanson text-3xl font-bold">{{coach.name}}</h3>
                        <h4 class="text-amber-50 font-hanson text-xl font-bold mt-10">{{coach.lessons?.join(', ')}}</h4>
                        <p class="font-open-sans text-white text-base mt-5">{{coach.bio}}</p>
                        <p class="font-hanson text-white text-xl font-bold mt-5">{{coach.motto}}</p>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 relative flex">
                    <img src="/images/coach_page/coaches_background.png" alt="design" class="absolute bottom-0 right-0 w-4/5 z-0 transform rotate-180 lg:block hidden">
                    <img src="{{coach.bio_picture}}" alt="Kervin Mendiola" class="w-1/2 lg:h-9/10 lg:w-auto mt-auto z-10 lg:mr-15 ml-auto mr-auto">
                </div>
            </div>
        }
    }

    <!-- core values  -->
    <div class="w-[90%] md:w-[85%] lg:w-[80%] mx-auto mt-10 pb-20 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 lg:gap-20">

        <div class="flex flex-col lg:flex-row items-center lg:items-start text-center lg:text-left">
            <img src="/images/large_diamond.png" alt="diamond" class="w-10 h-10 mb-4 lg:mb-0 lg:mr-5 shrink-0">
            <div class="flex flex-col">
                <h3 class="font-eurostile text-gold text-3xl lg:text-4xl font-bold">Fun</h3>
                <p class="text-white font-open-sans font-regular mt-3 leading-relaxed">
                    We believe learning and growth should be joyful, energizing, and full of creative play.
                </p>
            </div>
        </div>

        <div class="flex flex-col lg:flex-row items-center lg:items-start text-center lg:text-left">
            <img src="/images/large_diamond.png" alt="diamond" class="w-10 h-10 mb-4 lg:mb-0 lg:mr-5 shrink-0">
            <div class="flex flex-col">
                <h3 class="font-eurostile text-gold text-3xl lg:text-4xl font-bold">Integrity</h3>
                <p class="text-white font-open-sans font-regular mt-3 leading-relaxed">
                    We move with honesty, respect, and authenticity — on and off the stage.
                </p>
            </div>
        </div>

        <div class="flex flex-col lg:flex-row items-center lg:items-start text-center lg:text-left md:col-span-2 lg:col-span-1 md:w-1/2 md:mx-auto lg:w-full">
            <img src="/images/large_diamond.png" alt="diamond" class="w-10 h-10 mb-4 lg:mb-0 lg:mr-5 shrink-0">
            <div class="flex flex-col">
                <h3 class="font-eurostile text-gold text-3xl lg:text-4xl font-bold">Enthusiasm</h3>
                <p class="text-white font-open-sans font-regular mt-3 leading-relaxed">
                    We bring passion and positivity to every class, inspiring dancers to give their all and love the journey.
                </p>
            </div>
        </div>

    </div>
</div>

