
table {
    border: 1px solid #fffbeb;
    table-layout: fixed;
}

th, td {
    border: 1px solid #fffbeb;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
