<footer class="relative px-15 py-10 bg-black z-20">
    <div class="flex justify-between">
        <img src="/images/SOD_Logo_FA-16.png" alt="logo" class="w-60">
        <div class="text-white">
            <h5 class="font-bold text-xl">Quick Links</h5>
            <div class="flex mt-1.5 font-open-sans">
                <ul class="w-30">
                    <li class="link">About Us</li>
                    <li class="link">Coaches</li>
                    <li class="link">Events</li>
                    <li class="link">Merchandise</li>
                </ul>
                <ul class="w-40 mx-15">
                    <li class="link">Types of Classes</li>
                    <li class="link">Class Schedule</li>
                    <li class="link">Class Rates</li>
                    <li class="link">Book a Class</li>
                </ul>
                <ul class="w-50">
                    <li class="link">Project Underground</li>
                    <li class="link">Dance Studio Rental</li>
                    <li class="link">Contact</li>
                    <li class="link">Branches</li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="w-full bg-white rounded-xs h-0.5 my-5">
    <div class="flex justify-between">
        <p class="font-open-sans text-xs text-white mt-auto">© 2026 State of Dance. All rights reserved.</p>
        <div class="flex">
            <a href="https://www.tiktok.com/@stateofdance.ph" target="_blank"><img src="/images/socials/tiktok.png" alt="tiktok" class="w-12"></a>
            <a href="https://www.instagram.com/stateofdancebykervinmendiola" target="_blank"><img src="/images/socials/ig.png" alt="instagram" class="w-12 mx-5"></a>
            <a href="https://www.facebook.com/stateofdancebykervinmendiola" target="_blank"><img src="/images/socials/facebook.png" alt="facebook" class="w-12 mr-5"></a>
            <a href="https://www.youtube.com/@stateofdancebykervinmendiola" target="_blank"><img src="/images/socials/yt.png" alt="youtube" class="w-12"></a>
        </div>
    </div>

</footer>
