<div #my_header class="navigation fixed w-full p-5 z-20" [ngClass]="{'scrolled': isScrolled}">
    <div class="flex mx-5 justify-between">
        <div class="flex flex-col w-fit">
            <img src="/images/header_logo.png" alt="SOD-Brand-Logo" class="w-70">
            <p class="drop-down h-full w-80 text-white mt-5 text-justify font-open-sans text-sm", [ngClass]="{'show-all':show_all()}">
                At State of Dance, we don’t just teach choreography; we shape character, build confidence, and celebrate the elegance of transformation. We don’t just teach movement—we inspire transformation.
            </p>
        </div>
        <div class="flex w-fit">
            <div class="nav-bar flex">
                <div class="flex flex-col mr-3 w-fit relative h-full">
                    <p class="font-eurostile text-white font-bold text-base p-2 w-40 h-11 cursor-pointer" (click)="classes_show.set(!classes_show())">CLASSES</p>
                    <ul class="drop-down navigation p-2 font-open-sans text-sm" [ngClass]="{'show':classes_show(), 'scrolled':isScrolled, 'show-all':show_all()}">
                        <li class="text-white p-0.5">Types of Classes</li>
                        <li class="text-white p-0.5">Class Schedule</li>
                        <li class="text-white p-0.5">Project Underground</li>
                    </ul>
                </div>
                <p class="font-eurostile text-white font-bold text-base p-2 mx-3 w-40 h-11 cursor-pointer">COACHES</p>
                <div class="flex flex-col mx-3 w-fit relative h-full">
                    <p class="font-eurostile text-white font-bold text-base p-2 w-40 h-11 cursor-pointer" (click)="events_show.set(!events_show())">EVENTS</p>
                    <ul class="drop-down navigation p-2 font-open-sans text-sm" [ngClass]="{'show':events_show(), 'scrolled':isScrolled, 'show-all':show_all()}">
                        <li class="text-white p-0.5">Dancer Events Profile</li>
                        <li class="text-white p-0.5">Events History</li>
                    </ul>
                </div>
                <p class="font-eurostile text-white font-bold text-base p-2 ml-3 w-40 h-11 cursor-pointer ">MERCH</p>
                
            </div>
            <div class="flex ml-10">
                <div class="flex flex-col w-fit relative">
                    <button class="font-eurostile text-white font-bold text-base p-1 border border-white w-35 h-11 cursor-pointer" (click)="bookings_show.set(!bookings_show())">BOOKING</button>
                    <ul class="drop-down navigation p-2 font-open-sans text-sm" [ngClass]="{'show':bookings_show(), 'scrolled':isScrolled, 'show-all':show_all()}">
                        <li class="text-white p-0.5">Book a Class</li>
                        <li class="text-white p-0.5">Rent our Studio</li>
                    </ul>
                </div>
                <button class="font-eurostile text-white font-bold text-lg p-1 w-11 h-11 cursor-pointer ml-5 border border-white text-center" (click)="extendHeader()">x</button>
            </div>
        </div>
    </div>
</div>
