.navigation {
    background-color: transparent;
}

.navigation.scrolled {
    background-color: black;
}

.nav-bar img.show {
    transform: rotate(180deg);
}

.nav-bar img.show-all {
    transform: rotate(180deg);
}

.drop-down {
    display: none;
}

.drop-down.show {
    display: block;
    position: absolute;
    top: 105%;
    left:0;
    width: 100%;
}

.drop-down.show-all {
    display: block;
    position: relative;
    top: 5%;
    margin-bottom: 0.5em;
}

.link {
    font-weight: normal;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.link:hover {
    color: #deb060;
    font-weight: bold;
}

