<div class="card w-70 aspect-3/4 m-10 transform-3d transition-all duration-500 ease-in-out">
    <div class="front absolute backface-hidden w-full h-full">
        <img src="{{class().img}}" alt="Kids Class" class="w-full h-full rounded-2xl">
        <div class="absolute opacity-85 bg-linear-to-t from-dark-violet to-transparent w-full h-1/2 bottom-0"></div>
        <h4 class="text-white font-bold text-3xl text-center absolute bottom-5 w-full uppercase">{{class().name}}</h4>
    </div>
    <div class="back bg-violet absolute backface-hidden transform rotate-y-180 w-full h-full flex rounded-2xl p-5">
        <p class="text-white text-center my-auto font-bold font-open-sans">{{class().description}}</p>
    </div>
</div>
