<div class="min-h-screen flex pt-30 justify-center lg:flex-row flex-col">
    <div class="flex w-full lg:w-1/2 p-10">
        <div class="hidden lg:flex flex-col w-40 mr-5">
            @for (image_link of item.image_links; track $index) {
                <div class="relative mb-5">
                    @if (current_index() != $index) {
                        <div class="bg-black absolute w-full h-full opacity-40"></div>
                    }
                    <img src="{{image_link}}" alt="item_gallery {{$index}}">
                </div>
                
            }
        </div>
        <div class="relative lg:h-full lg:w-auto w-4/5 md:w-1/2 mx-auto lg:mx-0">
            <img 
            src="/images/next_circular_button.png" alt="next circular button" 
            class="absolute top-1/2 transform -translate-y-1/2 rotate-180 left-3 cursor-pointer"
            (click)="previous()"
            >
            <img #mainDisplay src="{{item.image_links[current_index()]}}" alt="item" class="h-full">
            <img 
            src="/images/next_circular_button.png" alt="next circular button" 
            class="absolute top-1/2 transform -translate-y-1/2 right-3 cursor-pointer"
            (click)="next()"
            >
        </div>
    </div>
    <div class="flex flex-col p-10">
        <h1 class="font-lexend text-black text-4xl font-bold md:text-left text-center">{{item.name}}</h1>
        <h2 class="font-open-sans text-black text-2xl font-bold mt-5 md:text-left text-center">₱{{item.price}}</h2>
        <p class="font-lexend text-black text-xl mt-5 hidden md:block">Size Guide:</p>
        <table class="hidden md:block">
            <tr class="bg-black text-white text-xl font-lexend text-center">
                <th class="p-5">Sizes</th>
                <th class="p-5">Chest</th>
                <th class="p-5">Body</th>
                <th class="p-5">Sleeve</th>
            </tr>
            <tr class="text-black font-lexend text-xl text-center">
                <td class="p-2.5">S</td>
                <td class="p-2.5">20 1/2”</td>
                <td class="p-2.5">26 1/2”</td>
                <td class="p-2.5">9”</td>
            </tr>
            <tr class="text-black font-lexend text-xl text-center">
                <td class="p-2.5">M</td>
                <td class="p-2.5">22”</td>
                <td class="p-2.5">27 1/2”</td>
                <td class="p-2.5">9 1/2”</td>
            </tr>
            <tr class="text-black font-lexend text-xl text-center">
                <td class="p-2.5">L</td>
                <td class="p-2.5">23 1/2”</td>
                <td class="p-2.5">28 1/2”</td>
                <td class="p-2.5">10”</td>
            </tr>
            <tr class="text-black font-lexend text-xl text-center">
                <td class="p-2.5">XL</td>
                <td class="p-2.5">25”</td>
                <td class="p-2.5">29 1/2”</td>
                <td class="p-2.5">10 1/2”</td>
            </tr>
            <tr class="text-black font-lexend text-xl text-center">
                <td class="p-2.5">2XL</td>
                <td class="p-2.5">26 1/2”</td>
                <td class="p-2.5">30 1/2”</td>
                <td class="p-2.5">11”</td>
            </tr>
        </table>
        <div class="flex mt-10 lg:justify-between justify-center lg:flex-row flex-col">
            <div class="flex items-center justify-between md:justify-start">
                <p class="text-black font-lexend text-base md:mr-5">Select Size</p>
                <select name="sizes" id="sizes" class="text-black font-lexend font-bold text-base text-center border border-black rounded-xs p-1 cursor-pointer">
                    <option value="s">S</option>
                    <option value="m">M</option>
                    <option value="l">L</option>
                    <option value="xl">XL</option>
                    <option value="2xl">2XL</option>
                </select>
            </div>
            <div class="flex items-center justify-between md:justify-start lg:mt-0 mt-5">
                <p class="text-black font-lexend text-base md:mr-5">Select Branch</p>
                <select name="sizes" id="sizes" class="text-black font-lexend font-bold text-base text-center border border-black rounded-xs p-1 cursor-pointer">
                    <option value="binondo">BINONDO</option>
                    <option value="quezon">QUEZON</option>
                    <option value="bgc">BGC</option>
                </select>
            </div>
        </div>
        
        <div class="flex mt-10 lg:mt-auto lg:flex-row flex-col">
            <div class="flex w-full p-1 border border-black rounded-full">
                <button class="w-8 h-8 cursor-pointer" (click)="subtract()">
                    <img src="/images/merch/minus_circle.png" alt="minus circle" class="h-full w-full">
                </button>
                <p class="font-eurostile font-bold text-black text-xl w-full text-center">{{counter()}}</p>
                <button class="w-8 h-8 cursor-pointer" (click)="add()">
                    <img src="/images/merch/plus_circle.png" alt="minus circle" class="h-full w-full">
                </button>
            </div>
            <button 
            class="uppercase py-1 bg-black text-white font-eurostile text-xl w-full lg:w-100 lg:ml-10 rounded-full font-bold cursor-pointer lg:mt-0 mt-5"
            >Buy Now</button>
        </div>
    </div>
</div>
