<div class="min-h-screen flex pt-30 justify-center lg:flex-row flex-col">
    <div class="flex w-full lg:w-1/2 p-10">
        <div class="hidden lg:flex flex-col w-40 mr-5">
            @for (image_link of item()!.image_links.slice(0, 4); track $index) {
                <div class="relative mb-5">
                    @if (current_index() != $index) {
                        <div class="bg-black absolute w-full h-full opacity-40"></div>
                    }
                    <img src="{{image_link.image}}" alt="item_gallery {{$index}}">
                </div>
                
            }
        </div>
        <div class="flex lg:h-full lg:w-auto w-4/5 md:w-1/2 mx-auto lg:mx-0">
            <div class="relative h-fit">
                <img 
                src="/images/next_circular_button.png" alt="next circular button" 
                class="absolute top-1/2 transform -translate-y-1/2 rotate-180 left-3 cursor-pointer"
                (click)="previous()"
                >
                <img #mainDisplay src="{{item()!.image_links[current_index()].image}}" alt="item" class="w-full">
                <img 
                src="/images/next_circular_button.png" alt="next circular button" 
                class="absolute top-1/2 transform -translate-y-1/2 right-3 cursor-pointer"
                (click)="next()"
                >
            </div>
        </div>
    </div>
    <div class="flex flex-col p-10 w-full lg:w-1/2">
        <h1 class="font-lexend text-black text-4xl font-bold md:text-left text-center">{{item()!.name}}</h1>
        <h2 class="font-open-sans text-black text-2xl font-bold mt-5 md:text-left text-center">₱{{final_price}}</h2>
        @if (item()!.details) {
            <img src="{{item()!.details}}" alt="item details" class="mt-5 hidden md:block mx-auto w-4/5">
        }
        <form [formGroup]="custom_form" class="flex mt-10 lg:justify-between justify-center lg:flex-row flex-col items-start">
            <div class="flex flex-col min-h-25">
                @for (customization of customizations(); track $index) {
                    <div class="flex items-center justify-between md:justify-start mb-5">
                        <p class="text-black font-lexend text-base md:mr-5">Select {{customization.customizationName}}</p>
                        <select name="sizes" id="sizes" formControlName="{{customization.customizationName}}"
                        class="text-black font-lexend font-bold text-base text-center border border-black rounded-xs p-1 cursor-pointer truncate w-30">
                            <option value="None">Select</option>
                            @for (choice of customization.customizations; track $index) {
                                <option value="{{choice.id}}">{{choice.name}}</option>
                            }
                        </select>
                    </div>
                }
            </div>
        
            <div class="flex items-center justify-between md:justify-start lg:mt-0 mt-5">
                <p class="text-black font-lexend text-base md:mr-5">Select Branch</p>
                <select name="sizes" id="sizes" [formControl]="branch"
                class="text-black font-lexend font-bold text-base text-center border border-black rounded-xs p-1 cursor-pointer truncate w-30">
                    <option value="None">Select</option>
                    @for (branch of branches(); track $index) {
                        <option value="{{branch.id}}">{{branch.name}}</option>
                    }
                </select>
            </div>
        </form>
        
        <div class="flex mt-10 lg:mt-auto lg:flex-row flex-col">
            <div class="flex w-full p-1 border border-black rounded-full">
                <button class="w-8 h-8 cursor-pointer" (click)="subtract()">
                    <img src="/images/merch/minus_circle.png" alt="minus circle" class="h-full w-full">
                </button>
                <p class="font-eurostile font-bold text-black text-xl w-full text-center">{{counter()}}</p>
                <button class="w-8 h-8 cursor-pointer" (click)="add()">
                    <img src="/images/merch/plus_circle.png" alt="minus circle" class="h-full w-full">
                </button>
            </div>
            <button 
            class="uppercase py-1 bg-black text-white font-eurostile text-xl w-full lg:w-100 lg:ml-10 rounded-full font-bold cursor-pointer lg:mt-0 mt-5"
            (click)="submit()"
            >Buy Now</button>
        </div>
    </div>
</div>
