
<div class="min-h-screen pt-35 md:px-15 bg-black flex lg:flex-row flex-col-reverse">
    <div class="flex flex-col lg:sticky w-full lg:w-120 lg:mr-5 lg:top-30 left-0 h-fit lg:mt-0 mt-10">
        <h1 class="font-hanson text-white font-bold text-3xl lg:block hidden md:text-6xl lg:text-left text-center">Rent our <span class="text-gold">Studio</span></h1>
        <p class="font-lexend text-white md:text-base my-5 lg:block hidden lg:text-left text-center">Your space to move, create, and inspire.</p>
        @if (selected_branch() == -1) {
            <p class="font-lexend text-white font-bold md:text-base my-5 lg:block hidden lg:text-left text-center">Please select a branch to schedule.</p>
        }
        <div class="flex flex-col w-full mr-5">
            <input #date type="date" name="date" class="text-white border border-white p-2 rounded-lg text-xl [&::-webkit-calendar-picker-indicator]:invert" (change)="selectDate(date.value); date.blur();" [min]="today.toISOString().slice(0, 10)">
            <select #startTime name="start" id="start" class="text-white border border-white p-2 rounded-lg text-xl my-5" (change)="selectStartTime(startTime.value); startTime.blur();">
                <option value="none" class="bg-black">Select Start Time</option>
                @for (time of start_times(); track $index) {
                    <option value="{{$index}}" class="bg-black">{{time}}</option>
                }
            </select>
            <select #endTime name="end" id="end" class="text-white border border-white p-2 rounded-lg text-xl" (change)="selectEndTime(endTime.value); endTime.blur();" [disabled]="startTime.value == 'none'">
                <option value="none" class="bg-black">Select End Time</option>
                @for (time of end_times().slice(2); track $index) {
                    <option value="{{time}}" class="bg-black">{{time}}</option>
                }
            </select>
        </div>
        <div class="flex items-center mt-5">
            <p class="font-lexend font-bold text-white text-xl">Total: </p>
            <p class="font-lexend font-bold text-gold text-xl ml-2">P {{total_amount() | number:'1.2-2'}}</p>
        </div>

        <button class="mt-10 h-14 font-eurostile text-white font-bold p-1.5 border border-white rounded-full w-full bg-violet uppercase cursor-pointer 
                    transition-all duration-200 ease-in-out 
                    hover:scale-[1.02] hover:shadow-[0_0_20px_rgba(139,92,246,0.5)] hover:bg-gold active:scale-95"
            (click)="payment()">
            PROCEED TO PAYMENT
        </button>
    </div>
    @if (!viewing_branch()) {
        <div class="flex flex-col w-full">
            @for (branch of branches(); track branch.id) {
                <div class="relative w-full h-90 mb-5 overflow-hidden cursor-pointer border"
                (mouseenter)="hovered_branch.set(branch.id)" (mouseleave)="hovered_branch.set(-1)"
                (click)="setBranch(branch.id)" [ngClass]="{'border-white': selected_branch() == branch.id, 'border-transparent': selected_branch() != branch.id}">
                    <img src="{{branch.thumbnail}}" alt="{{branch.name}}" class="w-full h-full object-cover">
                    <div class="bg-black opacity-50 absolute inset-0 transition-opacity duration-500 ease-in-out" [ngClass]="{'opacity-50':!is_hovered(branch.id), 'opacity-10':is_hovered(branch.id)}"></div>
                    <div class="flex w-full h-25 justify-between items-center absolute bottom-0 left-0 p-5">
                        <div class="flex items-center">
                            <img src="/images/loc_white.png" alt="loc white" class="h-10 lg:h-15">
                            <div class="flex flex-col ml-2">
                                <h3 class="font-lexend text-white lg:text-xl text-base">{{branch.name}}</h3>
                                <p class="font-lexend text-white lg:text-sm text-xs">{{branch.address}}</p>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <p class="font-lexend text-white text-xs lg:text-base text-center mb-1">P {{branch.rate}} / hr</p>
                            <button class="font-eurostile text-white font-bold text-xs lg:text-base p-1.5 border border-white rounded-full w-25 lg:w-45 bg-transparent cursor-pointer uppercase"
                            (click)="setBranchView(branch)">View More</button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <p class="font-lexend text-white md:text-base lg:hidden block my-5 lg:text-left text-center">Your space to move, create, and inspire.</p>
        <h1 class="font-hanson text-white font-bold text-3xl lg:hidden block md:text-6xl lg:text-left text-center">Rent our <span class="text-gold">Studio</span></h1>
    }@else {
        <div class="flex flex-col w-full lg:ml-10 text-white">
            <div class="z-50 mb-20 flex gap-4 items-center cursor-pointer" (click)="viewing_branch.set(null)">
                <img src="/images/back.png" alt="back icon" class="w-5 cursor-pointer">
                <p class="font-lexend text-base">Back to Branches</p>
            </div>

            <!-- carousel -->
            <div class="relative w-full overflow-hidden h-[400px] -mt-10 md:h-[600px] flex items-center justify-center">
                <div class="relative flex items-center justify-center w-full h-full">
                    
                    @for (img of viewing_gallery(); track $index) {
                        <div class="h-[70vh] overflow-hidden absolute transition-all duration-500 ease-in-out transform flex items-center justify-center"
                            [ngClass]="{
                                'z-30 scale-100 opacity-100 w-[70%] md:w-[60%] translate-x-0': getSlidePosition($index) === 'center',
                                'z-20 -translate-x-[60%] scale-80 opacity-100 w-[50%]': getSlidePosition($index) === 'left',
                                'z-20 translate-x-[60%] scale-90 opacity-100 w-[50%]': getSlidePosition($index) === 'right',
                                'z-10 opacity-0 scale-75': getSlidePosition($index) === 'hidden'
                            }">
                            
                            <div class="absolute inset-0 bg-black transition-opacity duration-500 z-10"
                                [ngClass]="{'opacity-0': getSlidePosition($index) === 'center', 'opacity-60': getSlidePosition($index) !== 'center'}">
                            </div>

                            <img [src]="img" class="w-full h-full object-cover shadow-2xl border border-white/10">
                        </div>
                    }

                    <button (click)="prevImage()" 
                        class="flex items-center justify-center absolute left-[2%] md:left-[13%] lg:left-[15.2%] z-40 bg-black/40 hover:bg-black/70 text-white w-[50px] h-[100px] border border-violet border-r-0 transition-all cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                        </svg>
                    </button>

                    <button (click)="nextImage()" 
                        class="flex items-center justify-center absolute  right-[2%] md:right-[13%] lg:right-[15.2%] z-40 bg-black/40 hover:bg-black/70 text-white w-[50px] h-[100px] border border-violet border-l-0 transition-all cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                        </svg>
                    </button>
                </div>

                <div class="absolute bottom-4 left-1/2 -translate-x-1/2 z-40 flex gap-2">
                    @for (img of viewing_gallery(); track $index) {
                        <div class="h-3 w-3 rounded-full transition-all duration-300"
                            [ngClass]="currentImageIndex() === $index ? 'bg-white w-6' : 'border border-white'">
                        </div>
                    }
                </div>
            </div>


            <div class="flex flex-col lg:flex-row items-center justify-between w-full  mb-5">
                <div class="flex flex-row lg:flex-col mb-10 lg:mb-0">
                    <h2 class="font-lexend font-bold text-3xl uppercase mb-1">{{viewing_branch()?.name}}</h2>
                    <div class="flex items-center">
                        <img src="/images/loc_white.png" alt="location" class="h-8">
                        <p class="ml-2 font-open-sans text-base">{{viewing_branch()?.address}}</p>
                    </div>
                </div>
                <button class="font-eurostile text-black bg-white font-bold p-1.5 rounded-full w-full h-10 lg:w-45 cursor-pointer uppercase"
                (click)="viewing_branch.set(null)">Select Branch</button>
            </div>
            
            <app-studio-detail [rawApiData]="viewing_branch()?.description || ''" class="w-full"></app-studio-detail>

            <!-- google maps -->
            @if (safeMapUrl(); as mapUrl) {
            <iframe
                [src]="mapUrl"
                class="w-full hue-rotate-[60deg]"
                height="450"
                style="border:0;"
                allowfullscreen
                loading="lazy">
            </iframe>
            }
        </div>
    }
</div>
