
<div class="min-h-screen pt-35 md:px-15 bg-black flex lg:flex-row flex-col-reverse">
    <div class="flex flex-col lg:sticky w-full lg:w-120 lg:mr-5 lg:top-30 left-0 h-fit lg:mt-0 mt-10">
        <h1 class="font-hanson text-white font-bold text-3xl md:text-6xl lg:text-left text-center">Rent our <span class="text-gold">Studio</span></h1>
        <p class="font-lexend text-white md:text-base my-5 lg:text-left text-center">Your space to move, create, and inspire.</p>
        <div class="flex flex-col w-full mr-5">
            <input #date type="date" name="date" class="text-white border border-white p-2 rounded-lg text-xl [&::-webkit-calendar-picker-indicator]:invert" (change)="selectDate(date.value)" [min]="today.toISOString().slice(0, 10)">
            <select #startTime name="start" id="start" class="text-white border border-white p-2 rounded-lg text-xl my-5" (click)="selectStartTime(startTime.value)">
                @for (time of start_times.slice(0, -2); track $index) {
                    <option value="{{$index}}" class="bg-black">{{time}}</option>
                }
            </select>
            <select #endTime name="end" id="end" class="text-white border border-white p-2 rounded-lg text-xl" (click)="selectEndTime(endTime.value)">
                @for (time of end_times.slice(2); track $index) {
                    <option value="{{time}}" class="bg-black">{{time}}</option>
                }
            </select>
        </div>
        <button class="mt-10 font-eurostile text-white font-bold p-1.5 border border-white rounded-full w-full bg-linear-to-r from-gold to-violet uppercase">PROCEED TO PAYMENT</button>
    </div>
    <div class="flex flex-col w-full">
        <div class="flex flex-wrap bg-amber-50 p-5 w-full border-12 border-black" (click)="selected_branch.set('quezon')" [ngClass]="{'border-gold':selected_branch()=='quezon'}">
            <div class="relative w-4/5 lg:w-1/2 m-auto mb-5 xl:h-full xl:m-0">
                <img 
                src="/images/next_circular_button.png" alt="next circular" 
                class="absolute left-5 top-1/2 transform -translate-y-1/2 cursor-pointer rotate-180"
                (click)="previous('quezon')"
                >
                <img src="{{quezon_images[quezon_active_index()]}}" alt="" class="w-full h-full aspect-square object-cover">
                <img 
                src="/images/next_circular_button.png" alt="next circular" 
                class="absolute right-5 top-1/2 transform -translate-y-1/2 cursor-pointer"
                (click)="next('quezon')"
                >
            </div>
            <div class="flex flex-col m-auto w-[24rem]">
                <h2 class="text-black font-lexend text-3xl font-bold uppercase text-center">Quezon City</h2>
                <div class="flex justify-center">
                    <img src="/images/studio/gps_icon.png" alt="gps icon" class="w-5 md:block hidden">
                    <p class="font-lexend text-black text-base">108 Panay Avenue near Mplace</p>
                </div>
                <div class="flex flex-wrap justify-around my-5">
                    <div class="flex flex-col w-30">
                        <img src="/images/studio/aircon_icon.png" alt="aircon icon" class="w-15 mx-auto">
                        <p class="text-black font-lexend text-base text-center">With 2 2.5 hp air-conditioner</p>
                    </div>
                    <div class="flex flex-col w-30">
                        <img src="/images/studio/parking_icon.png" alt="aircon icon" class="w-15 mx-auto">
                        <p class="text-black font-lexend text-base text-center">Nearby parking lot</p>
                    </div>
                    <div class="flex flex-col w-30">
                        <img src="/images/studio/people_icon.png" alt="aircon icon" class="w-15 mx-auto">
                        <p class="text-black font-lexend text-base text-center">25-person max capacity</p>
                    </div>
                </div>

                <p class="text-black font-lexend text-base text-center">Perfect for your dance rehearsal!</p>
                <h3 class="font-lexend text-black font-bold text-2xl text-center">595/hour</h3>
                <p class="text-black font-lexend text-base text-center">REGULAR RATE</p>

                <p class="text-black font-lexend text-base text-center font-bold mt-5">SPECIAL PROMO</p>
                <p class="text-black font-lexend text-xl text-center font-bold">545/hour only!</p>
                <p class="text-black font-lexend text-base text-center">RENT 3 HOURS or more<br>( You can save 50 pesos/hour )</p>
                <p class="text-black font-lexend text-base text-center mt-5">A very attractive space where you can take your performance to another level</p>
            </div>
        </div>
        <div class="flex flex-wrap-reverse bg-amber-50 p-5 mt-10 w-full border-12 border-black" (click)="selected_branch.set('binondo')" [ngClass]="{'border-gold':selected_branch()=='binondo'}">
            <div class="flex flex-col m-auto w-[24rem]">
                <h2 class="text-black font-lexend text-3xl font-bold uppercase text-center">Binondo Manila</h2>
                <div class="flex justify-center">
                    <img src="/images/studio/gps_icon.png" alt="gps icon" class="w-5 md:block hidden">
                    <p class="font-lexend text-black text-base">7th floor PNB Quintin Paredes</p>
                </div>
                <div class="flex mt-5 w-full md:flex-row flex-col">
                    <div class="flex flex-row flex-wrap md:flex-col justify-around md:mr-5 mx-auto">
                        <div class="flex flex-col w-30">
                            <img src="/images/studio/aircon_icon.png" alt="aircon icon" class="w-15 mx-auto">
                            <p class="text-black font-lexend text-base text-center">With 3 2.5 hp air-conditioner</p>
                        </div>
                        <div class="flex flex-col w-30">
                            <img src="/images/studio/parking_icon.png" alt="aircon icon" class="w-15 mx-auto">
                            <p class="text-black font-lexend text-base text-center">Nearby parking lot</p>
                        </div>
                        <div class="flex flex-col w-30">
                            <img src="/images/studio/aesthetic_lights_icon.png" alt="aircon icon" class="w-20 mx-auto">
                            <p class="text-black font-lexend text-base text-center">Aesthetic lights & quality speakers</p>
                        </div>
                    </div>

                    <div class="flex flex-col w-full my-auto md:mt-0 mt-5">
                        <table>
                            <tr>
                                <td class="w-1/3"><img src="/images/studio/dancing_icon.png" alt="dancing icon" class="w-15 m-auto"></td>
                                <td class="w-2/3 px-2"><p class="text-black font-lexend text-base text-center">50-person max capacity (DANCING)</p></td>
                            </tr>
                            <tr>
                                <td class="w-1/3"><img src="/images/studio/people_icon.png" alt="dancing icon" class="w-10 m-auto"></td>
                                <td class="w-2/3 px-2"><p class="text-black font-lexend text-base text-center">80-person max capacity (EVENT/MEETING)</p></td>
                            </tr>
                        </table>

                        <div class="flex items-center my-3 w-full">
                            <img src="/images/black_diamond.png" alt="black diamond" class="w-5">
                            <p class="text-black font-lexend text-base text-center font-bold">Mic and party lights can also be RENTED</p>
                            <img src="/images/black_diamond.png" alt="black diamond" class="w-5">
                        </div>
                        
                        <h3 class="font-lexend text-black font-bold text-2xl text-center">1,195/hour</h3>
                        <p class="text-black font-lexend text-base text-center">REGULAR RATE</p>

                        
                        <p class="text-black font-lexend text-xl text-center font-bold">1,145/hour</p>
                        <p class="text-black font-lexend text-base text-center">RENT 3 HOURS or more</p>

                        <p class="text-black font-lexend text-base text-center mt-5">SMALL STUDIO: 395/hour Up to 5-person max capacity (Dancing)</p>
                    </div>
                </div>
            </div>
            <div class="relative w-4/5 lg:w-1/2 mb-5 m-auto xl:h-full xl:m-0">
                <img 
                src="/images/next_circular_button.png" alt="next circular" 
                class="absolute left-5 top-1/2 transform -translate-y-1/2 cursor-pointer rotate-180"
                (click)="previous('binondo')"
                >
                <img src="{{binondo_images[binondo_active_index()]}}" alt="" class="w-full h-full aspect-square object-cover">
                <img 
                src="/images/next_circular_button.png" alt="next circular" 
                class="absolute right-5 top-1/2 transform -translate-y-1/2 cursor-pointer"
                (click)="next('binondo')"
                >
            </div>
        </div>
    </div>
</div>
