/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@font-face {
    font-family: "EurostileExtended";
    src: url("/fonts/EurostileExtendedBlack.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Hanson";
    src: url("/fonts/Hanson-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@theme {
    --font-eurostile: "EurostileExtended", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --font-hanson: "Hanson", sans-serif;
    --color-gold: #deb060;
    --color-violet: #7357ff;
    --color-dark-violet: #270934;
    --color-pink-violet: #741B9A;
    --color-cream: #FFF0DC;
}
