<div class="h-fit bg-black w-full pt-20 pb-10">
    <div class="justify-center py-10 items-center">
        <p class="text-center text-violet font-lexend text-base"> Dancer Events Profile  </p>
        <h1 class="mt-3 text-center text-white font-jost font-extrabold text-6xl"><span class="text-gold"> Spotlight </span> Performances </h1>
    </div>

    @for (performance of performances(); track performance.id) {
        @if ($index % 2 === 0) {
            <div class="flex w-full lg:flex-row flex-col lg:my-0 my-15">
                <div class="left mx-auto lg:mx-0 w-4/5 lg:w-1/2 relative" [matTooltip]="'Click to view performance'" (mouseenter)="playVideo($index)" (mouseleave)="pauseVideo($index)">
                    <a href="https://www.facebook.com/reel/1266975665446247" target="_blank">
                        <video #videoPlayer [muted]="'mute'" loop class="absolute inset-0 object-cover hidden w-full h-full" [ngClass]="{'show':showVideo[$index]}">
                            <source src="{{performance.preview}}" type="video/mp4">
                        </video>
                        <img src="{{performance.thumbnail}}" alt="{{performance.name}}" class="w-full z-10">
                    </a>
                </div>
                <div class="right w-full lg:w-1/2 flex lg:mt-0 mt-5">
                    <div class="content m-auto w-2/3 lg:text-left text-center">
                        <h3 class="text-white font-lexend text-4xl font-bold">{{performance.name}}</h3>
                        <p class="text-white mt-8 text-base">{{performance.details}}</p>
                    </div>
                </div>
            </div>
        }@else {
            <div class="flex w-full lg:flex-row flex-col-reverse lg:my-0 my-15">
                <div class="left w-full lg:w-1/2 flex lg:mt-0 mt-5">
                    <div class="content m-auto w-2/3 lg:text-right text-center">
                        <h3 class="text-white font-lexend text-4xl font-bold">{{performance.name}}</h3>
                        <p class="text-white mt-8 text-base">{{performance.details}}</p>
                    </div>
                </div>
                <div class="right mx-auto lg:mx-0 w-4/5 lg:w-1/2 relative" [matTooltip]="'Click to view performance'" (mouseenter)="playVideo($index)" (mouseleave)="pauseVideo($index)">
                    <a href="https://www.facebook.com/reel/1498700931217570" target="_blank">
                        <video #videoPlayer [muted]="'mute'" loop class="absolute inset-0 object-cover hidden w-full h-full" [ngClass]="{'show':showVideo[$index]}">
                            <source src="{{performance.preview}}" type="video/mp4">
                        </video>
                        <img src="{{performance.thumbnail}}" alt="{{performance.name}}" class="w-full">
                    </a>
                </div>
            </div>
        }
    }
</div>
